@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
body,html{
    height: 100vh;
    font-family: 'Open Sans', sans-serif;

}
header{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
    margin: 1.3em 1.6em 2.1em 1.6em;
}
.logo{
    width: 7em;
}
nav a {
    text-decoration: none;
    margin: 1.4em;
    color:  hsl(0, 0%, 75%);
    transition: 0.4s ease-in-out;
}
nav a:hover{
    color:  hsl(256, 38%, 53%);
}
section{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
}
.a{
    margin-bottom: 10rem; 
}
.illustration{
    width: 38rem;
    animation: 1.4s aparecer ease-in;
}
h1,h2{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 2.7rem;
    line-height: 1.4em;
    margin-bottom: 0.8em;
    color:  hsl(243, 87%, 12%);
}
p{
    color:  hsl(243, 87%, 12%);
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 1.2em;
}
.email_one{
    border: 1.3px solid hsl(243, 87%, 12%) ;
    padding: 0.9em 0em;
    width: 20em;
    padding-left: 6px ;
    text-align: left;
    border-radius: 3px;
    margin-right: 1.5em;
}
input:focus {
    box-shadow: none;
    outline: none;
}
.button{
    font-family:'Open Sans', sans-serif ;
    padding: 0.865em 5em;
    background-color: hsl(224, 93%, 58%);
    color:#fff ;
    border:1px solid hsl(224, 93%, 58%);
    border-radius: 3px;
    transition: 0.4s ease-in-out;
    font-weight: 400;
    font-size: 0.867em;
}
.button:hover{
    opacity: 0.6;
    transition: 0.5s ease-in-out;
}
.b{
    background: white url("images/bg-curve-desktop.svg") top center;
    background-size: cover;
    padding-top: 4em;
    padding-bottom: 7em ;
}
.see_link{
    color: hsl(170, 45%, 43%); 
    border-bottom: 2px solid hsl(170, 45%, 43%);
    margin-right: 13px;
    padding-bottom: 4px;
    width: 100%;
}
.arrow{
    width: 1.5em;
    margin-left: 3px;
   
}

.depositions{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
    padding: 3em 0em;
    width: 30.3em;
    box-shadow: 0.7px 0.7px 20px rgba(74, 73, 73, 0.138);
    border-radius: 0.3em;
    font-size: 0.86em;
    color:hsl(243, 87%, 12%);
    margin-top: 4em;

}
.testimonial{
    line-height: 2em;
}
.author{
    display: flex;
    justify-content: baseline;
    align-items: center;
    
}
.avatar{
    margin-right: 10px;
    height: 3.7em;
    border-radius: 50%;
}
h3{
    letter-spacing: 1px;
    margin-bottom: -0.9em;
    
    
}
.author_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -0.1px;
}
.author_text  p{
    margin-bottom: -0.5em;
    letter-spacing: 1px;
    font-size: 0.7em;
}
.email_two{
    border: none;
    padding: 1.1em 0em;
    width: 34em;
    padding-left: 6px ;
    text-align: left;
    border-radius: 3px;
    margin-bottom: 1em;
}
div{
    margin: 0 3em 0em 3em;
}

.get_early{
    padding: 5em 4em;
    background-color: hsl(238, 22%, 44%);
}

.get_early_h2{
    color: #fff;
}
.get_early p{
    color:rgb(172, 172, 206);
    font-size: 0.98em;
    line-height: 1.6em;
    letter-spacing: 0.3px;
    font-family: 'Open Sans';
}
.get_early form{
    display: flex;
    flex-direction: column;

}.get_early form .button{
    width: 21em;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #fff;
    background-color: hsl(243, 87%, 12%) ;
    padding: 5em 3em ;
    font-family: 'Open Sans', sans-serif;
}
ul{
    line-height: 2.2em;
    list-style-type: none;
}
ul a{
    font-size: 1.001em;
    color:hsl(243, 49%, 37%);
}
.logo-white{
    height: 2.6em;
    margin-bottom: 1.4em;
}
.contat_icon{
    
    fill :hsl(243, 59%, 30%) ;
}
.contat_icon svg{
    margin-right: 8px;
}
.contat_icon:hover{
    fill: #fff;
}
.social-icons{
    display: flex;
    flex-direction: row;
}
ul a {
    transition: 0.6s ease-in-out;
}
ul a:hover{
    color: #fff;
   
}
.social-icons svg{
    height: 2.3em;
    margin: 0 0.3em;
    fill: hsl(243, 49%, 37%);
    transition: 0.6s ease-in-out;
}
.social-icons svg:hover{
    fill: #fff;
}

@keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}